.u-section-1 .u-sheet-1 {
  min-height: 605px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.logo{
width: 511px;
height: 115px;
margin-left: 200px;
margin-top: 300px;
}

.u-section-1 .u-image-1 {
  width: 523px;
  height: 122px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 70px auto 0;
  padding: 15px 107px 16px 106px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 391px;
  padding: 15px 106px 16px 105px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 60px 390px;
  padding: 16px 89px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 191px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 79px;
  }
}