.header6 {
  display: flex;
  font-size: var(--font-size-xl);
  padding-top: 20px;
}
.logo-icon6 {
  width: 210px;
  height: 54px;
  cursor: pointer;
  margin-right: 150px;
  margin-left: 20px;
}
.div22 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
a {
  text-decoration: none;
  color: black;
}
.admin15, .dictionary7, .import7,
.export7,.reports7, .help7 {
  margin-right: 60px;
}

.help7 {
  margin-right: 100px;
}

.admin15:hover, .dictionary7:hover, .import7:hover, .export7:hover, .reports7:hover, .help7:hover {
  color: #A08655;
}

.div19{
  font-size: var(--other-13b-ttu-ls10-size);
  color: var(--black);
  font-family: var(--p-16b);
}
.parent19 {
  display: flex;
  width: 200px;
}
.div24{
  color: var(--my-blue, #253168);
  font-size: 20px;
  line-height: 140%;
}
.vector-icon6 {
  margin-right: 21px;
}
.services {
  display: flex;
  margin-top: 100px;
} 
.parent16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
margin-left: 100px;
margin-right: 150px;
}
.b17 {
  color: var(--black, #333);
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}
.group-parent {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--purple, #3D348B);
  font-size: 16px;
  line-height: 140%;
}
.frame-parent24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.pdf-wrapper {
  display: flex;
padding: 8px 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: var(--blue, #5DB7DE);
color: var(--white, #FFF);

}
.visma-2022-container {
  width: 250px;
  height: 67px;
}

.frame-parent21 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 150px;
}
.frame-parent22 {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
.parent10 {
  display: flex;
  width: 316px;
  padding: 30px 35px;
  flex-direction: column;
  align-items: flex-start;
  gap: 118px;
  border-radius: 20px;
  background: var(--purple, #3D348B);
}

.parent10:hover {
  background:  #3d348bdd;
}

.b19 {
  color: var(--white, #FFF);
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
.visma{
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.about {
  width: 1410px;
  height: 806px;
  flex-shrink: 0;
  margin-left: 100px;
  
}

.b25 {
  color: var(--black, #333);
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  margin-top: -800px;
  
}

.tristique-orci-consectetur-sit-parent {
  display: flex;
  width: 636px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 30px;
}

.tristique-orci-consectetur {
  color: var(--black, #333);
font-size: 13px;
font-family: PT Sans;
line-height: 140%;
}

.vivamus-tincidunt-non-lectus-o-parent {
  display: flex;
padding: 0px 0px 0px 30px;
align-items: center;
gap: 22px;
align-self: stretch;
}

.vivamus-tincidunt-non {
  margin-bottom: 20px;
}

.parent9 {
  display: flex;
width: 526px;
padding: 30px 35px;
flex-direction: column;
align-items: flex-start;
gap: 38px;
border-radius: 20px;
background: var(--blue, #5DB7DE);
}

.rectangle-parent14 {
  width: 526px;
  height: 350px;
  margin-bottom: 50px;
}
.group-child7 {
  width: 526px;
height: 350px;
border-radius: 20px;
background: linear-gradient(0deg, #3D348B 0%, #3D348B 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

}

.news {
  width: 1296px;
height: 514px;
flex-shrink: 0;
margin-left: 100px;
margin-bottom: 150px;
}
.parent8 {
  display: flex;
width: 1296px;
justify-content: space-between;
align-items: center;
margin-bottom: 60px;
}

.pdf {
  color: var(--purple, #3D348B);

/* other/16b-ttu-ls10% */
font-size: 13px;
font-family: PT Sans;
font-weight: 700;
line-height: 140%;
letter-spacing: 1.6px;
text-transform: uppercase;
}

.button5 {
  display: flex;
align-items: center;
gap: 15px;
}

.rectangle-parent8 {
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 25px;
}

.frame-child44 {
  width: 306px;
height: 214px;
border-radius: 20px;
background: lightgray 50% / cover no-repeat;
}

.footer5 {
  display: flex;
width: 1520px;
height: 120px;
justify-content: center;
align-items: center;
gap: 75px;
flex-shrink: 0;
background: #253168;
}

.image-2-icon6 {
  width: 151px;
height: 38px;

}

.icbaseline-phone-parent3 {
  display: flex;
align-items: center;
gap: 20px;
}

.icbaseline-phone-icon5 {
  width: 30px;
  height: 30px;

}

.b178 {
  color: var(--white, #FFF);

/* p/16b */
font-size: 14px;
font-family: PT Sans;
font-weight: 700;
line-height: 140%;
}