<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="1 home work, to do list">
    <meta name="description" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="static/main.css" media="screen">
    <link rel="stylesheet" href="static/nicepage.css" media="screen">
    <script class="u-script" type="text/javascript" src="static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="static/nicepage.js" defer=""></script>
    <meta name="referrer" content="origin">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">


    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
</head>
<body data-home-page="Главная.html" data-home-page-title="Главная" class="u-body u-xl-mode" data-lang="ru">
<header class="u-clearfix u-container-align-center u-header u-palette-1-base u-sticky u-sticky-f6b6 u-header" id="sec-d045"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="create">Добавление ордера</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="order">Список ордеров</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="crship">Добавление шипинга</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="shiplist">Список шипингов</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Главная.html">Добавление ордера</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/О-нас.html">Список ордеров</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Контакты.html">Добавление шиппига</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Список шипингов</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>


<section class="u-clearfix u-section-1" id="sec-a943">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/">
            <img class="u-image u-image-contain u-image-default u-image-1"
                 src="static/img/2560px-Air_Astana_logo.svg.png" alt="" data-image-width="2560" data-image-height="625">
        </a>
        <div class="u-form u-form-1">

            <label for="filter">Фильтр:</label>
            <input type="number" id="filter" name="filter">
            <button type="submit" onclick="applyFilter()">Применить</button>
            
            <div >
                <form method="post" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;">
                    {% csrf_token %}
                    <div class="u-form-group u-form-name u-label-none u-form-group-1">
                        <label for="shipping-name" class="u-label">Name</label>
                        ID Шипинга
                        {{ form.ShippingName }}
                    </div>
            
                    <div class="u-form-date u-form-group u-label-none u-form-group-5">
                        {% for order in orders %}
                        <div id="edit{{ order.OrderName }}" style="display: block;">
                            <summary class='btn'>
                                <h4>{{ order.OrderName }}</h4>
                            </summary>
                            <details>
                                {% for detail in order.Details.all %}
                                <div class="content_wrapper">
                                    <div>
                                        <input id="{{ detail.pk }}" type="checkbox" value="{{ detail.pk }}" name="checkbox_service"
                                            class="checkbox">
                                        <label for="{{ detail.pk }}" class="u-label">{{ detail.DetailName }} | количество:
                                            {{ detail.Count }} | из: {{ detail.DeliveryCountry }}</label>
                                        <label for="{{ detail.pk }}">
                                            Добавить:
                                            <input name="detail_counts" class="u-border-1 u-border-grey-30 u-input-rectangle"
                                                style="width: 50px" placeholder="" id="detail-count-{{ detail.pk }}" min="0"
                                                max="{{ detail.Count }}" value="1" step="1" type="number">
                                        </label>
                                    </div>
                                </div>
                                {% endfor %}
                            </details>
                        </div>
                
                        {% endfor %}
                    </div>
            
                    <div class="u-align-left u-form-group u-form-submit u-form-group-6">
                        <button type="submit" class="u-btn u-btn-submit u-button-style">Создать</button>
                    </div>
                    <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                </form>
            </div>
            
            <a href="/" class="u-btn u-btn-submit u-button-style">Выйти</a>

        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c230">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Team NIS for Air Astana</p>
    </div>
</footer>

<script>
    function applyFilter(OrderName) {
        var OrderName = document.getElementById('filter').value;


        var orders = document.querySelectorAll('[id^="edit"]');
    
    for (var i = 0; i < orders.length; i++) {
        var order = orders[i];
        var currentOrderName = order.id.substring(4);
        
        if (currentOrderName === OrderName) {
            order.style.display = 'block';
        } else {
            order.style.display = 'none';
        }
    }
        }
    

</script>

</body>
</html>