<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css"> -->
    <link rel="stylesheet" href="style3.css">
    <link rel="website icon" type="png" href="imge/14176838149949-removebg-preview.png">
    <title>React3</title>
</head>
<body>
    <!-- <script src="live_search.js"></script> -->
    <div class="all-11">
        <!-- <img class="srin" src="imge/x1-2.jpg" alt=""> -->
        <div class="anu-1">
            <div>
                <a href="https://almau.edu.kz/"><img class="img1" src="imge/logo_new1.jpeg" alt=""></a>
            </div>
            <a href="index3.html"><div class="anu-1-1">
                Обьявления
            </div></a>
        </div>
        <div class="anu-0">
    
        <select id="filter">
            <option value="item">все</option>
            <option value="red">Маркетинг</option>
            <option value="blue">IT</option>
            <option value="green">Финансы</option>
            <option value="orange">Консалтинг</option>
            <option value="yellow">Общий персонал</option>
            <option value="iu">Юриспруденция</option>
            <option value="HR">HR</option>
          </select>
<!--           
          <input type="text" id="search-input" placeholder="Поиск...">
<button onclick="search()">Найти</button>
<ul id="search-results"></ul> -->

          <input type="text" name="input" id="input" placeholder="Организация">

          <script src="main.js"></script>

          <!-- <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Поиск...">
            <button type="submit">Найти</button>
          </form>
          <script src="poisk-2.js"></script> -->
          <ol class="ul">
        <div id="items">

            <div class="item yellow searchable">
                <div class="box">
                    <a href="O-2.html"><div class="O-1 box">
                        <img class="O-1" src="imge/download-removebg-preview.png" alt="">
                        <li>Adidas</li>
                        <div class="O-1-txt">
                            Общий персонал
                        </div>
                    </div></a>
                        </div>
            </div>
            <div class="item yellow searchable">
                <div class="box">
                    <a href="O-2.html"><div class="O-1 box">
                        <img class="O-1" src="imge/download-removebg-preview.png" alt="">
                        <li>Adidas</li>
                        <div class="O-1-txt">
                            Общий персонал
                        </div>
                    </div></a>
                        </div>
            </div>
            <div class="item blue searchable">
                <div class="box">
                    <a href="O-3.html"><div class="O-2 box">
                        <img class="O-2" src="imge/logo_2x-removebg-preview.png" alt="">
                        <li>Raimbek</li>
                        <div class="O-2-txt">
                            IT
                        </div>
                    </div></a>
                        </div>
            </div>

            <div class="item blue searchable">
                <div class="box">
                    <a href="O-11.html"><div class="O-11 box">
                        <img class="O-11" src="imge/fortebank_logotype_PNG_de167fbcfe.png" alt="">
                        <li>ForteBank</li>
                        <div class="O-11-txt">
                            IT
                        </div>
                    </div></a>
                        </div>
            </div>
            
            <div class="item iu searchable" id="searchable">
                <div class="box">
                    <a href="O-1.html"><div class="O-3 box">
                        <img class="O-3" src="imge/png-transparent-toyota-sienta-car-toyota-hilux-toyota-prius-toyota-yaris-text-trademark-logo-removebg-preview (1).png" alt="">
                        <li>TOYOTA</li>
                        <div class="O-3-txt">
                            Юриспруденция
                        </div>
                    </div></a>
                        </div>
            </div>
            <div class="item green searchable" id="searchable">
                <div class="box">
                    <a href="O-4.html">
                        <div class="O-4 box">
                            <img class="O-4" src="imge/4152741-removebg-preview.png" alt="">
                            <li>AlphaAcademy</li>
                            <div class="O-4-txt">
                            Финансы
                            </div>
                        </div> </a>
                        </div>
            </div>
            <div class="item redsearchable" id="searchable">
                <div class="box">
                <a class="O-5" href="O-5.html">
                    <div class="O-5 box">
                        <img class="O-5" src="imge/2560px-Citibank.svg-removebg-preview.png" alt="">
                        <li>CityBank</li>
                        <div class="O-5-txt">
                        Маркетинг
                        </div>
                    </div>
                </a>
                    </div></div>
            <div class="item red searchable" id="searchable"> <div class="box">
                <a class="O-6" href="O-6.html">
                    <div class="O-6 box">
                        <img class="O-6" src="imge/3380842-removebg-preview.png" alt="">
                        <li>Universal Energy</li>
                        <div class="O-6-txt">
                        Маркетинг
                        </div>
                    </div>
                </a>
                    </div></div>
            <div class="item HR searchable" id="searchable">
                <div class="box">
                    <a class="O-7" href="O-7.html">
                        <div class="O-7 box">
                            <img class="O-7" src="imge/Снимок_экрана_2023-03-09_в_20.50.18-removebg-preview.png" alt="">
                            <li>Posperity Group</li>
                            <div class="O-7-txt">
                            Офис-менеджер с функциями HR
                            </div>
                        </div>
                    </a>
                        </div>
            </div>
            <div class="item orange searchable" id="searchable"><div class="box">
                <a href=""><img class="asr-1" src="imge/1200px-DeloitteNewLogo-removebg-preview.png" alt="">
                    <li>Deloite</li>
                <div class="asr-1-txt">
                    Консалтинг
                    </div></a>
                </div></div>
            <div class="item yellow searchable" id="searchable">
                <div class="box">
                    <a class="O-9" href="O-9.html">
                        <div class="O-9 box">
                            <img class="O-9" src="imge/download.png" alt="">
                            <li>PM BA</li>
                            <div class="O-9-txt">
                            Общий персонал
                            </div>
                        </div>
                    </a>
                    </div>
            </div>
            
           <div class="item red searchable" id="searchable">
            <div class="box">
                <a class="O-10" href="O-10.html">
                    <div class="O-10 box">
                        <img class="O-10" src="imge/14176838149949-removebg-preview.png" alt="">
                        <li>AlmaU</li>
                        <div class="O-10-txt">
                        Маркетинг
                        </div>
                    </div>
                </a>
                </div>
           </div>
           
        </div>
        </ol>
        
        <!-- <a href=""><img class="asr-2" src="imge/1200px-DeloitteNewLogo-removebg-preview.png" alt=""></a>
        <div class="asr-2-txt">
            Специальность: Корпоративные финансы
            </div> -->
    
    </div>
    </div>
    <script src="brindex.js"></script>
</body>
</html>