<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="header6">
      <img class="logo-icon6" alt="" src="./public/logo@2x.png" id="logoImage"/>

      <div class="div22">
          <a href="" class="admin15">Admin</a>
          <a href="" class="dictionary7">Dictionary</a>
          <a href=""class="import7">Import</a>
          <a href=""class="export7">Export</a>
          <a href=""class="reports7">Reports</a>
          <a href=""class="help7">Help</a>
      </div>
        <div class="parent19">
          <img class="vector-icon6" alt="" src="./public/vector.svg" />
          <div><div class="div24">Вася Пупкин</div>
          <div class="admin16">Admin</div></div>
        </div>
    </div>
    <div class="main">
            <div class="frame-parent">
              <div class="techsupply-parent">
                <b class="techsupply"
                  >Система управления <br> логистикой TechSupply</b
                >
                <div class="trax-erp">
                  Управляйте заказами, отгрузками, инвойсами. <br> Интеграция с TRAX
                  и ERP. Эффективность, <br> контроль, упрощенное взаимодействие.
                </div>
              </div>
              <div class="button">
                <b class="b2">справка о программе</b>
                <img class="button-child" alt="" src="./public/group-7.svg" />
              </div>
            </div>

    </div>

    <script>
      var logoImage = document.getElementById("logoImage");
      if (logoImage) {
        logoImage.addEventListener("click", function (e) {
          window.location.href = "main.html";
        });
      }
      </script>
  </body>
</html>
