body {
  margin: 0;
}
.header6 {
  display: flex;
  font-size: var(--font-size-xl);
  padding-top: 20px;
  margin-bottom: 30px;
}
.logo-icon6 {
  width: 210px;
  height: 54px;
  cursor: pointer;
  margin-right: 150px;
  margin-left: 20px;
}
.div22 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
a {
  text-decoration: none;
  color: black;
}
.admin15, .dictionary7, .import7,
.export7,.reports7, .help7 {
  margin-right: 60px;
}

.help7 {
  margin-right: 100px;
}

.admin15:hover, .dictionary7:hover, .import7:hover, .export7:hover, .reports7:hover, .help7:hover {
  color: #A08655;
}

.div19{
  font-size: var(--other-13b-ttu-ls10-size);
  color: var(--black);
  font-family: var(--p-16b);
}
.parent19 {
  display: flex;
  width: 200px;
}
.div24{
  color: var(--my-blue, #253168);
  font-size: 20px;
  line-height: 140%;
}
.vector-icon6 {
  margin-right: 21px;
}
.main{
  display: flex;
width: 1530px;
height: 688px;
background: linear-gradient(0deg, #253168 0%, #253168 100%), lightgray 50% / cover no-repeat;
background-image: url(./public/frame-1@3x.png);
background-size: cover;
margin: 0;

}

.frame-parent {
  display: flex;
width: 639px;
height: 507px;
flex-direction: column;
align-items: flex-start;
gap: 60px;
flex-shrink: 0;
margin-left: 170px;
margin-top: 170px;
}

.techsupply-parent {
  display: flex;
width: 634px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}

.techsupply {
  color: var(--white, #FFF);
font-size: 44px;
font-family: PT Sans;
font-weight: 700;
line-height: 140%;
}

.trax-erp {
  color: var(--white, #FFF);
font-size: 20px;
font-family: PT Sans;
line-height: 140%;
}  

.button {
  display: flex;
align-items: center;
gap: 15px;
}

.b2 {
  color: var(--white, #FFF);
  font-size: 16px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}