<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./request-for-shipment.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="request-for-shipment">
      <div class="form2">
        <b class="request-for-shipment1">Request for Shipment</b>
        <div class="frame-parent12">
          <div class="frame-parent13">
            <div class="frame-parent14">
              <div class="order-number-parent">
                <b class="order-number">Order Number</b>
                <div class="frame-child21"></div>
              </div>
              <div class="order-number-parent">
                <b class="order-number">Order Code</b>
                <div class="frame-child21"></div>
              </div>
            </div>
            <div class="frame-parent15">
              <div class="order-number-parent">
                <b class="order-number">Order Line</b>
                <div class="rectangle-wrapper4">
                  <div class="frame-child21"></div>
                </div>
              </div>
              <div class="order-number-parent">
                <b class="order-number">P/N</b>
                <div class="rectangle-wrapper4">
                  <div class="frame-child21"></div>
                </div>
              </div>
            </div>
            <div class="frame-parent16">
              <div class="agreement-parent">
                <b class="agreement">Agreement</b>
                <div class="frame-child25"></div>
                <img
                  class="material-symbolsarrow-left-ro-icon12"
                  alt=""
                  src="./public/materialsymbolsarrowleftrounded2.svg"
                />
              </div>
              <div class="order-number-parent">
                <b class="order-number">PoT</b>
                <div class="rectangle-wrapper4">
                  <div class="frame-child21"></div>
                </div>
              </div>
            </div>
            <div class="frame-parent17">
              <div class="order-number-parent">
                <b class="order-number">Payment Terms</b>
                <div class="agreement-parent">
                  <div class="frame-child27"></div>
                  <img
                    class="material-symbolsarrow-left-ro-icon13"
                    alt=""
                    src="./public/materialsymbolsarrowleftrounded1.svg"
                  />
                </div>
              </div>
              <div class="delivery-terms-group">
                <b class="order-number">Delivery Terms</b>
                <div class="rectangle-parent4">
                  <div class="frame-child28"></div>
                  <img
                    class="frame-child29"
                    alt=""
                    src="./public/rectangle-361.svg"
                  />

                  <img
                    class="material-symbolsarrow-left-ro-icon14"
                    alt=""
                    src="./public/materialsymbolsarrowleftrounded1.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent18">
              <div class="agreement-parent">
                <b class="agreement">Pick up Address and Contact</b>
                <div class="frame-child25"></div>
                <img
                  class="material-symbolsarrow-left-ro-icon15"
                  alt=""
                  src="./public/materialsymbolsarrowleftrounded3.svg"
                />
              </div>
              <div class="order-number-parent">
                <b class="order-number">Ship to Address</b>
                <div class="frame-child21"></div>
              </div>
            </div>
            <img
              class="material-symbolsarrow-left-ro-icon16"
              alt=""
              src="./public/materialsymbolsarrowleftrounded4.svg"
            />

            <div class="frame-parent19">
              <div class="agreement-parent">
                <b class="agreement">Delivery Date</b>
                <div class="frame-child25"></div>
                <img
                  class="material-symbolsarrow-left-ro-icon17"
                  alt=""
                  src="./public/materialsymbolsarrowleftrounded1.svg"
                />
              </div>
              <div class="agreement-parent">
                <b class="agreement">Priority</b>
                <div class="frame-child25"></div>
                <img
                  class="material-symbolsarrow-left-ro-icon18"
                  alt=""
                  src="./public/materialsymbolsarrowleftrounded5.svg"
                />
              </div>
            </div>
            <div class="frame-parent20">
              <div class="order-number-parent">
                <b class="order-number">C-Check</b>
                <div class="frame-child21"></div>
              </div>
              <div class="order-number-parent">
                <b class="order-number">Comments</b>
                <div class="frame-child35"></div>
              </div>
            </div>
          </div>
          <div class="rectangle-parent5">
            <div class="frame-child36"></div>
            <b class="edit-approval1">Edit Approval</b>
          </div>
          <div class="button4">
            <b class="edit-approval1">отправить</b>
            <img class="button-child1" alt="" src="./public/group-73.svg" />
          </div>
        </div>
      </div>
      <img class="image-1-icon3" alt="" src="./public/image-1@2x.png" />

      <div class="header5">
        <img
          class="logo-icon5"
          alt=""
          src="./public/logo@2x.png"
          id="logoImage"
        />

        <div class="div15">
          <div class="admin10">Admin</div>
          <div class="dictionary5">Dictionary</div>
          <div class="import5">Import</div>
          <div class="export5">Export</div>
          <div class="reports5">Reports</div>
          <div class="help5">Help</div>
        </div>
        <div class="mdiaccount-circle-parent3">
          <div class="mdiaccount-circle5"></div>
          <div class="div16">
            <b class="ru5">RU</b>
            <img
              class="material-symbolskeyboard-arro-icon5"
              alt=""
              src="./public/materialsymbolskeyboardarrowdownrounded.svg"
            />
          </div>
          <div class="parent3">
            <div class="div17">Вася Пупкин</div>
            <div class="admin11">Admin</div>
            <img class="vector-icon5" alt="" src="./public/vector.svg" />
          </div>
        </div>
      </div>
      <div class="footer4">
        <img class="image-2-icon4" alt="" src="./public/image-2@2x.png" />

        <div class="icbaseline-phone-parent2">
          <img
            class="icbaseline-phone-icon4"
            alt=""
            src="./public/icbaselinephone.svg"
          />

          <b class="ru5">+7 (123) 456-67-89</b>
        </div>
        <div class="icbaseline-phone-parent2">
          <img
            class="icbaseline-phone-icon4"
            alt=""
            src="./public/carbonlocationfilled1.svg"
          />

          <b class="ru5">Компания Эйр Астана</b>
        </div>
        <div class="icbaseline-phone-parent2">
          <img
            class="icbaseline-phone-icon4"
            alt=""
            src="./public/icroundemail.svg"
          />

          <b class="ru5">airastana@gmail.com</b>
        </div>
      </div>
    </div>

    <script>
      var logoImage = document.getElementById("logoImage");
      if (logoImage) {
        logoImage.addEventListener("click", function (e) {
          window.location.href = "./main.html";
        });
      }
      </script>
  </body>
</html>
