.sign-in-inner {
  display: inline-flex;
padding: 224px 113px 422px 149px;
flex-direction: column;
align-items: center;
background: linear-gradient(0deg, #253168 0%, #253168 100%), lightgray 50% / cover no-repeat;
background-image: url(./public/frame-1@3x.png);
background-size: cover;
height: 150px;
width : 420px;
}

.techsupply-group {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
align-self: stretch;
margin-bottom: 200px;
}

.techsupply1 {
  color: var(--white, #FFF);
font-size: 44px;
font-weight: 700;
line-height: 140%;
}

.airastana {
  display: flex;
width: 438px;
flex-direction: column;
  color: var(--white, #FFF);
font-size: 16px;
font-weight: 500;

}

.image-2-icon5 {
  width: 138px;
  height: 35px;

}

.group-div {
  width: 426px;
height: 424px;
margin-top: 200px;
margin-left: 140px;
}

.b16 {
  color: #000;
font-size: 30px;

}

.div18 {
  color: #8692A6;
font-size: 16px;
font-family: Inter;
line-height: 28px;
margin-top: 15px;
margin-bottom: 39px;
} 

.overlay {
  display: flex;
  width: 426px;
height: 108px;
flex-shrink: 0;
  opacity: 0.5; /* Начальное состояние: полностью прозрачный */
  transition: opacity 300ms ease-out; /* Переходная анимация */
  margin-bottom: 30px;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.10);
}

.overlay:hover {
  opacity: 1; /* При наведении: полностью видимый */
  border-radius: 6px;
background: #FFF;
box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.10);
}

@keyframes dissolve {
  0% {
    opacity: 0; /* Начальное состояние: полностью прозрачный */
  }
  100% {
    opacity: 1; /* Конечное состояние: полностью видимый */
  }
}

.frame-child43 {
  margin-left: 20px;
  margin-top: 30px;
  width: 49.455px;
height: 47.034px;
flex-shrink: 0;
}

.briefcase-icon1{
  width: 20px;
height: 20px;
flex-shrink: 0;margin-top: 45px;
margin-left: -35px;
}

.admin13 {
  color: #000;
font-size: 16px;
font-family: Inter;
font-weight: 500;
}

.personal-account-to1 {
  color: #8692A6;
font-size: 16px;
font-family: Inter;
}